body {
  direction: rtl;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* מציב את האלמנטים בעמודה אחת */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-custom {
  background-color: #007bff;
  color: #fff;
  border: brown solid 2px;
  padding: 10px 20px;
  border-radius: 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 50px;
}

.btn-custom:hover {
  background-color: #0056b3;
}

header,main {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #007bff;
  
}

h2 {
  color: #0056b3;
}

p {
  line-height: 1.6;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  /* מרווח בתחתית הכפתורים */
}


.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* שורות ממוזערות בין התכנים */
  padding-bottom: 10px;
  /* הגדרה של גובה הפוטר */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  padding: 5px;
  text-align: center;
}

#downloadBtn {
  display: none;     /*  נסתר כברירת מחדל */
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  /* display: block; הצג את הכפתור בשורה נפרדת */
  margin: 0 auto; /* מרכוז את הכפתור במרכז השורה */
}

#downloadBtn:hover {
  background-color: #bc2b78;
}

.container {
  display: flex;
  flex-direction: column; /* מציב את האלמנטים בעמודה אחת */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

